body{
    font-family: "Macondo",'Noto Sans TC',sans-serif;
}
section:nth-child(n){
    background-color: black
}
section:nth-child(n+2){
    padding:32px 0;
}
.remove_padding{
    padding:0!important;
}