footer{
  background-color: #242424;
}
footer ._container{
  margin: 56px 0;
}
footer ._container._center{
  text-align: center;
}
ul.footer-links{
  color: white;
}

ul.footer-links > li{
  font-size:20px;
  padding: 8px;
}
footer .fa{
  color: white;
  background-color: gray;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  margin-top: 24px;
  font-size:56px;
}

@media (max-width: 768px){
  footer ._container{
    margin: 24px 0;
  }

  footer .fa{
    margin-top: 0px;
  }
}